#root {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  border-collapse: collapse;
}

.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon, .logout-icon, .profile-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-icon {
  width: 30px;
  height: 30px;
}

.navbar button {
  background-color: inherit;
  border: none;
  padding: 0;
}


.logout-icon:hover {
  background-color: #cc0000;
}

.logout-icon-mobile {
  position: absolute;
  top: 80px;
}

.navbar button:focus {
  outline: none;
}

.navbar button:hover {
  border: none;
}

.pe-none {
  pointer-events: none;
}

.icon:hover {
  cursor: pointer;
  background-color: #2d9cdb;
}

.content {
  margin-top: 80px;
}

.cls-1 { fill: none; }

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.courses {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.courses a, .recent-courses a {
  color: inherit;
}

.recent-courses {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recent-courses-page a {
  color: inherit;
}

.button-download-recent-course-page {
  background-color: #eee;
  position: absolute;
  right: 5px;
  top: 20px;
  padding: 8px;
  font-size: 12px;
}

.recent-course-page {
  display: flex;
  position: relative;
  align-items: center;
  width: 80%;
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.recent-course-page a {
  width: 70%;
}

.recent-course {
  display: flex;
  align-items: center;
}

.course-completed-bar {
  background-color: #66e886;
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 100px;
}

.course {
  width: 250px;
  /* height: 280px; */
  padding: 5px;
  border: 1px solid #ddd;
  margin: 20px;
  border-radius: 10px;
  float: left;
  position: relative;
  transition: all ease-in-out .3s;
}

.course:hover {
  border: 1px solid blue;
  transform: scale(1.1);
  cursor: pointer;
  color: blue;
}

.course .robocza-klasa-zdj-courses {
  width: 220px;
  height: 180px;
  top: 15px;
  left: calc(50% - 110px);
}

.avatar-small {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 8px;
}

.avatar-small-no-margin {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.slide-created-by {
  display: flex;
  align-items: center;
  float: left;
}

.slide-content {
  width: calc(100% - 20px);
  background-color: #eee;
  border-radius: 15px;
  padding: 20px 10px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.course .course-author {
  display: flex;
  align-items: center;
  margin-left: 20px;
  float: left;
}

.course .course-length-info {
  margin-left: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course .course-time {
  display: flex;
}

.fs-12 {
  font-size: 12px;
}

.fs-8 {
  font-size: 8px;
}

.ff-roboto {
  font-family: "Roboto";
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}

.mt-40 {
  margin-top: 40px;
}

.clear-both {
  clear: both;
}

.bg-black {
  background-color: #000;
  color: white;
}

.bg-ee {
  background-color: #0000ee;
  color: white;
}

.bg-green {
  background-color: #00cc00;
}

.bg-red {
  background-color: #cc0000;
}

.c-green {
  color: #00cc00;
}

.c-red {
  color: #cc0000;
}

.bg-abcced {
  background-color: #abccde !important;
}

body {
  font-family: "Roboto";
}

.search-courses {
  width: 80%;
  height: 30px;
  margin: 0 auto;
  position: relative;
}

.search-courses svg {
  position: absolute;
  right: 10px;
  top: calc(50% - 8px);
}

.search-courses svg:hover {
  opacity: 0.8;
  cursor: pointer;
}

.search-courses-input {
  width: 100%;
  height: 100%;
  border: none;
  border: 1px solid #222;
  border-radius: 8px;
}

.course-subjects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10%;
}

.course-subjects .subject {
  height: 30px;
  border: 1px solid #aaa;
  border-radius: 15px;
  float: left;
  margin-right: 8px;
  margin-left: 8px;
  padding: 2px 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.course-subjects .clicked {
  border: 1px solid blue;
  color: blue;
}

.courses-page {
  min-width: 80%;
}

.courses-page a {
  text-decoration: none;
  color: inherit;
}

.slide-view-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.back-next-buttons button {
  margin: 25px;
  background-color: black;
  color: white;
}

.layer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.layer .slide-created-by {
  margin-right: 50px;
}

.add-course-button {
  display: flex;
  background-color: black;
  border-radius: 10px;
  color: white;
}

.add-course-button:hover {
  opacity: 0.8;
}

/* .slide-messages-container {
  position: relative;
} */

.new-course-data {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #dde;
  padding: 20px;
  border-radius: 10px;
}

.form-data {
  margin: 5px;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.form-data input {
  width: 200px;
}

.form-data img {
  display: inline-flex;
  width: 200px;
}

.form-data textarea {
  width: 200px;
}

.form-data select {
  height: 25px;
  width: 200px;
}

.slide-messages {
  min-width: 320px;
  height: 280px;
  overflow-y: scroll;
  background-color: rgba(220,91,250,0.7);
  padding: 10px;
}


.slide-message {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
}

.slide-message-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  font-size: 10px;
}

.slide-message-content {
  background-color: #eee;
  border-radius: 15px;
  padding: 8px;
  font-size: 12px;
}

.slide-image {
  max-height: 300px;
  margin-right: 50px;
}

.slide-leaving-comment {
  width: 95%;
  /* position: absolute; */
  display: flex;
  align-items: center;
  bottom: 0;
  left: 10px;
}

.slide-leaving-comment input {
  position: relative;
  width: calc(100% - 35px);
  height: 30px;
}

.slide-leaving-comment svg:hover {
  opacity: 0.8;
  cursor: pointer;
}

.input-type-file {
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: #000;
}

.input-type-file:hover {
  cursor: pointer;
  opacity: 0.7;
}

.input-type-file-gray {
  display: inline-flex;
  padding: 7px;
  border-radius: 5px;
  background-color: #ddd;
}

.input-type-file-gray:hover {
  cursor: pointer;
  opacity: 0.7;
}

input[type=file] {
  display: none;
}

.slides-list-edit {
  display: flex;
  flex-wrap: wrap;
}

.slide-edit {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 400px;
}

.slide-edit svg:hover{
  cursor: pointer;
  opacity: 0.7;
}

#uploaded-image {
  max-width: 200px;
}

.thread {
  display: flex;
  font-size: 20px;
  border-bottom: 1px dotted #222;
  padding: 10px;
  width: 75%;
  position: relative;
}

/* .thread:last-of-type {
  border-bottom: none;
} */

.thread-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  font-size: 12px;
}

.thread-text {
  text-align: left;
}

.thread-text i {
  font-size: 12px;
}

.thread-likes {
  position: absolute;
  right: 0;
  top: calc(50% - 20px);
  display: flex;
  align-items: center;
}

.thread-likes-dislikes .thread-likes {
  position: static;
}

.thread-top-layer .thread-likes {
  /* position: absolute;
  right: 5px; */
}

.thread-likes-dislikes {
  margin-left: 30px;
}

.thread-likes-dislikes button {
  padding: 0;
  margin-bottom: 0.4rem;
}

.threads-page a {
  text-decoration: none;
  color: inherit;
}

.avatar-medium {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.avatar-large {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.thread-page {
  text-align: left;
}

.thread-top-layer {
  max-width: 650px;
  position: relative;
  align-items: center;
  justify-content: start;
}

.thread-title-info {
  margin-right: 40px;
}

.thread-title-info i {
  font-size: 10px;
  color: #222;
}

.thread-subject {
  border: 1px solid #222;
  border-radius: 15px;
  padding: 5px;
  width: auto;
}

.thread-content {
  background-color: #abccde;
  padding: 20px 10px;
  width: 100%;
  border-radius: 10px;
}

.thread-answer {
  display: flex;
  align-items: start;
  margin-bottom: 25px;
}

.thread-answer-text {
  margin-left: 20px;
  width: 70%;
}

.thread-answer-text i {
  font-size: 10px;
  color: #222;
}

.thread-answer-content {
  background-color: #ebebeb;
  padding: 20px 10px;
  width: 100%;
  border-radius: 10px;
}

.thread-likes-like {
  background-color: rgba(0,204,0,0.15);
}

.thread-likes-dislike {
  background-color: rgba(204,0,0,0.15);
}

.thread-like-clicked {
  font-weight: bold;
  background-color: rgba(0,204,0,0.3);
}

.thread-dislike-clicked {
  font-weight: bold;
  background-color: rgba(204,0,0,0.3);
}

.thread-like-clicked svg {
  transform: scale(1.15);
}

.thread-dislike-clicked svg {
  transform: scale(1.15);
}

.thread-page textarea {
  width: calc(70% + 85px);
  height: 100px;
}

.thread-author-avatar {
  text-align: center;
  position: relative;
}

.avatar-user-level {
  /* position: absolute; */
  font-size: 10px;
  left: calc(-100% - 20px);
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.all-users {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user {
  border: 1px solid #ddd;
  border-radius: 15px;
  width: 300px;
  padding: 10px;
  text-align: left;
  margin-bottom: 20px;
}

.avatar-very-large {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-stats {
  display: flex;
  flex-direction: column;
}

.user-stat {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-stat-level {
  font-size: 12px;
  padding: 3px;
  background-color: #aaa;
  color: white;
}

.accept-request {
  background-color: #00cc00 !important;
  color: white;
}

.cancel-request {
  background-color: #cc0000 !important;
  color: white;
}

.course-action-buttons {
  margin-top: 20px;
  clear: both;
  justify-content: space-evenly;
  display: flex;
}

.course-action-button {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.course-action-button svg {
  stroke: #000;
}

.course-action-button:hover {
  text-decoration: underline;
}

.course-action-button:hover svg {
  stroke: blue;
}

.flashcard-question-content {
  background-color: #abccde;
  font-weight: bold;
  max-width: 480px;
  padding: 10px;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.flashcard-answer-content {
  background-color: #66e88e;
  font-weight: bold;
  max-width: 480px;
  padding: 10px;
  border-radius: 20px;
  margin: 0 auto;
}

.flashcards-page-info { 
  background-color: #66e88e;
  font-weight: bold;
  padding: 5px;
  width: 90px;
  border-radius: 15px;
  margin: 0 auto;
}

.flashcard-test-answer input {
  height: 24px;
  border: 1px solid #222;
  border-radius: 8px;
  padding: 3px;
  font-size: 20px;
}

.flashcard-correct-answer {
  background-color: #00cc00 !important;
}

.flashcard-wrong-answer {
  background-color: #ee0000 !important;
}

.answer-circles {
  display: flex;
  justify-content: center;
}

.summary {
  display: flex;
  justify-content: center;
}

.summary-flashcard {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 15px;
  border: 1px dotted #222;
}

.summary-flashcard-answer {
  max-width: 280px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.summary-flashcards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logging-statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.home-page-top-layer select {
  margin-left: 20px;
  padding: 5px;
  border-radius: 5px;
}

.ranking-table {
  width: 100%;
  background-color: #eee;
}

.ranking-table table {
  width: 100%;
  border: 2px solid #222;
}

.ranking-table table tr {
  border-top: 1px solid #aaa;
  height: 50px; 
}

.quill {
  background-color: white;
}

.ranking-table tr:first-child {
  border-top: none;
}

.ranking-table th, .ranking-table td {
  padding: 5px;
}

.home-page-top-layer {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
}

.export-csv-button {
  display: flex;
  align-items: center;
}

.statistics-range-choice {
  display: flex;
  margin-left: 25px;
}

.statistics-range-choice button {
  font-size: 12px;
}

.statistics-range-choice .clicked {
  background-color: #aaa;
}

.edit-circle {
  background-color: #ddd;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-circle:hover {
  cursor: pointer;
  opacity: 0.7;
}

.avatar-edit {
  display: flex;
  align-items: end;
}

.notifications-widget {
  position: absolute;
  top: 100px;
  right: 10%;
}

.notification-ring {
  display: flex;
  align-items: end;
}

.notification-ring:hover {
  cursor: pointer;
  opacity: 0.9;
}

.notifications-top-panel {
  position: relative;
}

.notifications {
  width: 400px;
  max-height: 300px;
  position: absolute;
  right: 0;
  overflow-y: scroll;
  background-color: #eee;
  border-radius: 10px;
  z-index: 100;
}

.notification {
  height: 60px;
  border-bottom: 1px dotted #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification:last-of-type {
  border-bottom: none;
}

.notification:hover {
  cursor: pointer;
  background-color: #eff;
}

.slide-admin-view {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-small-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #cc0000;
}

.course-nav {
  width: 80%;
  max-height: 400px;
  overflow-y: scroll;
  border-radius: 15px;
  background-color: lightgray;
}

.course-nav a {
  color: inherit;
}

.course-nav a:hover {
  color: inherit;
}

.course-nav-slide {
  padding: 15px 5px;
  border-bottom: 1px dotted #222;
}

.course-nav-slide:hover {
  background-color: #66e886;
}

.course-nav-slide p {
  font-size: 18px;
}

.disabled > .course-nav-slide > p {
  color: grey;
}

.disabled {
  pointer-events: none;
}

.disabled > .course-nav-slide:hover {
  cursor: default;
  background-color: lightgrey;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ebe */

.r{
  color: red;
}

.l{
  color: lime;
}

.skeleton {
  width: 500px;
  height: 100px;
  margin: auto;
  border-radius: 5px;
  margin-top: 20px;
  background: linear-gradient(to right, #fff, #ccc, #ccc, #fff, #ccc);
  background-size: 500% auto;
  animation: wave 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

.robocza-klasa-zdj-courses
{
  width: 50%;
}

.robocza-klasa-td-courses
{
  max-width: 200px;
}

.robocza-klasa-zdj-friends
{
  width: 10%;
}

.robocza-klasa-zdj-profile
{
  width: 160px;
}

.profile-page-top-layer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-level h3 {
  margin-block: 0;
  margin-top: 30px;
}

.profile-level-bar {
  display: flex;
  align-items: center;
}

.profile-level-bar-circle {
  font-size: 36px;
  margin: 0 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 1080px) {

.slide-image {
  margin-bottom: 30px;
  max-height: none;
  max-width: 90%;
  margin-right: 0;
}

.slide-messages-container { 
  width: 90%;
}

.slide-leaving-comment {
  width: 100%;
}

.add-course {
  margin-top: 20px;
}

}

@media(max-width: 700px) {
.thread {
  width: 100%;
}

.statistics-range-choice {
  margin-bottom: 20px;
}
}

.roboczylike {
  width:15%;
}

.roboczy-test-kolko
{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  margin: 5px;
}

.roboczy-test-kolko-szare
{
  background-color: gray;
}

.roboczy-test-kolko-niebieskie
{
  background-color: blue;
}

.roboczy-test-kolko-zielone
{
  background-color: lime;
}

.roboczy-test-kolko-czerwone
{
  background-color: red;
}

.robocza-klasa-recent-courses-zdj
{
  width: 200px;
}

.robocze-float-left
{
  float:left;
}

@media(max-width: 500px) {
.logout-icon {
  display: none;
}

.notifications-widget {
  right: 0;
} 

.notifications {
  width: 300px;
  font-size: 12px;
}

}